<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SmartPosDb"
             connectionString="Server=LAPTOP-D1LMSN48;Database=POS_RetailDB;User Id=sa;Password=123;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>